- @title = 'HIERAPOLIS'
- @body_class = 'index'


.navbar.navbar-inverse.blur-effect
  .navbar-inner
    .container-fluid
      %button.btn.btn-navbar{'data-target' => '.nav-collapse', 'data-toggle' => 'collapse', :type => 'button'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => '#'} HIERAPOLIS
      .nav-collapse.collapse
        .pull-right
          %ul.nav.pull-right
            %li.current-user-name
              John DOE
            %li.dropdown.current-user-dropdown
              %a.dropdown-toggle{'data-toggle' => 'dropdown', :href => '#'}
                %img.img-circle{alt:'', src:'http://placehold.it/40x40&text=User'}
              %ul.dropdown-menu
                %li
                  %a{:href => '/user/preferences'}
                    %i.icon-cog
                    Preferences
                %li
                  %a{:href => '/help/support'}
                    %i.icon-envelope
                    Contact Support
                %li.divider
                %li
                  %a{:href => '/auth/logout'}
                    %i.icon-off
                    Logout


//Launch Pad
.container.launch-pad-container.blur-effect
  .row
    .span12
      //Search Form
      %form.launch-pad-search-form.form-search.form-horizontal
        .input-append
          %input.search-query{placeholder: 'search...', type: 'text'}/
          %button.btn{type: 'submit'}
            %i.icon-search

  //Launch Pad Icon Set
  .row
    .span12.launch-pad

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-group
        %a.launch-pad-icon-title{href: '#'}  User Management

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-comments
        %a.launch-pad-icon-title{href: '#'}  Messages

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-cog
        %a.launch-pad-icon-title{href: '#'}  Settings

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-folder-open
        %a.launch-pad-icon-title{href: '#'}  File Management

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-picture
        %a.launch-pad-icon-title{href: '#'}  Image Store

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-rocket
        %a.launch-pad-icon-title{href: '#'}  Applications

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-code
        %a.launch-pad-icon-title{href: '#'}  Content Management

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-bar-chart
        %a.launch-pad-icon-title{href: '#'}  Dashboard

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-camera
        %a.launch-pad-icon-title{href: '#'}  Gallery

      .span2.launch-pad-icon
        %a.launch-pad-icon-circle{href: '#'}
          %i.icon-cloud
        %a.launch-pad-icon-title{href: '#'}  Cloud

//Footer
.container
  .row
    .span12.footer
      .row
        .span4.foot-page
          %ul
            %li
              %a{href: '#'} Privacy Policy
            %li
              %a{href: '#'} Help
        .span4.beaker
          %a{href: 'http//www.lab2023.com'}
            %i.icon-beaker
        .span4.copyright
          %p Copyright © 2013 Lab20023 Inc. All rights reserved.